$navy: #15265c;
$white: #ffffff;
$green: #2ee09a;
$darknavy: #101d49;
$desc: #ffffff69;
$transparentwhite: #ffffff1c;

$regular: 400;
$semibold: 600;
$bold: 700;

@import './buttons';

body {
  padding-top: 64px;
  background: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background: rgb(30, 142, 97);
  background: radial-gradient(circle, rgba(30, 142, 97, 1) 0%, rgba(21, 38, 92, 1) 100%);
}

nav {
  background: $transparentwhite;
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 76px -16px rgba(0, 0, 0, 0.247);
  .navbar-toggler {
    color: $white;
  }
  .navbar-nav {
    .active {
      color: $green !important;
      font-weight: $semibold !important;
    }

    .nav-link {
      color: $white;
      font-weight: $regular;
    }

    li {
      padding-left: 42px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.content {
  padding: 1em 0 3em 0;
  .illustration {
    display: flex;
    img {
      width: 100%;
      margin: auto;
    }
  }

  .copywriting {
    display: flex;
    margin: auto;
    .header {
      color: $white;
      font-weight: $semibold;
    }
    .desc {
      color: $desc;
      font-weight: $regular;
      font-size: 20px;
      letter-spacing: 1%;
      padding-top: 8px;
      padding-bottom: 16px;
    }
  }
}

hr {
  width: 50%;
  color: $desc;
  margin: 0 25% 0 25%;
}

.learn {
  padding: 3em 0;
  h1 {
    font-weight: $semibold;
    color: $white;
  }
  h3 {
    font-weight: $regular;
    color: $white;
  }
  .js {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: $transparentwhite;
    text-align: center;
    height: 30vh;
    background-color: $transparentwhite;
  }
  .uiux {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: $transparentwhite;
    text-align: center;
    height: 30vh;
    background-color: $transparentwhite;
  }
  .frontend {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: $transparentwhite;
    text-align: center;
    height: 30vh;
    background-color: $transparentwhite;
  }
}

.contact {
  padding: 3em 0;
  h1 {
    font-weight: $semibold;
    color: $white;
  }
  h3 {
    text-align: left;
  }
  ul {
    color: $desc;
    padding-left: 0;
    li {
      list-style: none;
      img {
        width: 32px;
        margin-right: 16px;
        padding-top: 3px;
      }
    }
  }
}

footer {
  page-break-after: always;
  font-size: 12px;
  color: $desc;
  text-align: center;
}
