.btn-master, .btn-primary, .btn-secondary {
  padding: 0.5em 1em;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-primary {
  border: none;
  color: #15265c;
  background: #2ee09a;
}

.btn-primary:hover {
  background: #ef84f5;
  background: -webkit-gradient(linear, left top, right top, from(#ef84f5), to(#2ee19a));
  background: linear-gradient(90deg, #ef84f5 0%, #2ee19a 100%);
  color: #101d49;
  -webkit-box-shadow: 0px 1px 34px 0px rgba(239, 132, 245, 0.72);
          box-shadow: 0px 1px 34px 0px rgba(239, 132, 245, 0.72);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn-primary:focus {
  background: #ef84f5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #101d49;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn-primary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-secondary {
  background: none;
  border-width: 2px;
  border-color: #2ee09a;
}

.btn-secondary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-secondary:focus {
  background: #2ee09a;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2ee09a;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn-secondary:hover {
  background: #2ee09a;
  color: #101d49;
  -webkit-box-shadow: 0px 1px 34px 0px rgba(46, 224, 154, 0.72);
          box-shadow: 0px 1px 34px 0px rgba(46, 224, 154, 0.72);
  -webkit-transition: 300ms;
  transition: 300ms;
  border-color: #2ee09a;
}

body {
  padding-top: 64px;
  background: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background: #1e8e61;
  background: radial-gradient(circle, #1e8e61 0%, #15265c 100%);
}

nav {
  background: #ffffff1c;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-box-shadow: 0px 0px 76px -16px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 0px 76px -16px rgba(0, 0, 0, 0.247);
}

nav .navbar-toggler {
  color: #ffffff;
}

nav .navbar-nav .active {
  color: #2ee09a !important;
  font-weight: 600 !important;
}

nav .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 400;
}

nav .navbar-nav li {
  padding-left: 42px;
  margin-top: auto;
  margin-bottom: auto;
}

.content {
  padding: 1em 0 3em 0;
}

.content .illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .illustration img {
  width: 100%;
  margin: auto;
}

.content .copywriting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.content .copywriting .header {
  color: #ffffff;
  font-weight: 600;
}

.content .copywriting .desc {
  color: #ffffff69;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1%;
  padding-top: 8px;
  padding-bottom: 16px;
}

hr {
  width: 50%;
  color: #ffffff69;
  margin: 0 25% 0 25%;
}

.learn {
  padding: 3em 0;
}

.learn h1 {
  font-weight: 600;
  color: #ffffff;
}

.learn h3 {
  font-weight: 400;
  color: #ffffff;
}

.learn .js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff1c;
  text-align: center;
  height: 30vh;
  background-color: #ffffff1c;
}

.learn .uiux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff1c;
  text-align: center;
  height: 30vh;
  background-color: #ffffff1c;
}

.learn .frontend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff1c;
  text-align: center;
  height: 30vh;
  background-color: #ffffff1c;
}

.contact {
  padding: 3em 0;
}

.contact h1 {
  font-weight: 600;
  color: #ffffff;
}

.contact h3 {
  text-align: left;
}

.contact ul {
  color: #ffffff69;
  padding-left: 0;
}

.contact ul li {
  list-style: none;
}

.contact ul li img {
  width: 32px;
  margin-right: 16px;
  padding-top: 3px;
}

footer {
  page-break-after: always;
  font-size: 12px;
  color: #ffffff69;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */