$navy: #15265c;
$white: #ffffff;
$green: #2ee09a;
$darknavy: #101d49;
$desc: #ffffff69;
$transparentwhite: #ffffff1c;

$regular: 400;
$semibold: 600;
$bold: 700;

@import './buttons';
@import './navbar';

body {
  padding-top: 64px;
  background: no-repeat;
  font-family: 'Montserrat', sans-serif;
  background: rgb(30, 142, 97);
  background: radial-gradient(circle, rgba(30, 142, 97, 1) 0%, rgba(21, 38, 92, 1) 100%);
}

.content {
  padding: 1em 0 3em 0;
  .illustration {
    display: flex;
    img {
      width: 100%;
      margin: auto;
    }
  }

  .copywriting {
    display: flex;
    margin: auto 0;
    .header {
      color: $white;
      font-weight: $semibold;
    }
    .desc {
      color: $desc;
      font-weight: $regular;
      font-size: 20px;
      letter-spacing: 1%;
      padding-top: 8px;
      padding-bottom: 16px;
    }
  }
}

hr {
  width: 50%;
  color: $desc;
  margin: 0 25% 0 25%;
}

.project {
  margin: 3em 0;
  h1 {
    font-weight: $semibold;
    color: $white;
    text-align: center;
  }
  h6 {
    color: $desc;
    font-weight: $semibold;
  }
  h3 {
    color: $white;
    font-weight: $semibold;
  }
  img {
    border-radius: 15px;
  }
  .card-project {
    margin-top: 3em;

    .project1 {
      .col {
        position: relative;
        background-color: $transparentwhite;
        border-radius: 25px;
        padding: 1.2rem;
        transition: box-shadow 300ms ease, transform 300ms ease;
        .overlay {
          background-color: #2ee09942;
          border-radius: 25px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.5s ease;
        }
      }
      .col:hover {
        .overlay {
          opacity: 1;
        }
        transform: scale(1.1);
        box-shadow: 0px 32px 74px -9px rgba(16, 29, 73, 0.705);
      }
      .btn {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 15%;
        right: 15%;
        overflow: hidden;
      }
    }
  }
}

.contact {
  padding: 3em 0;
  h1 {
    font-weight: $semibold;
    color: $white;
    text-align: center;
  }
  .col-2 {
    margin-top: 3rem;
    img {
      width: 100%;
      transition: 300ms ease;
    }
    img:hover {
      transform: scale(1.2);
    }
  }
}

footer {
  page-break-after: always;
  font-size: 12px;
  color: $desc;
  text-align: center;
  padding: 2em 0 0 0;
}
