a {
  color: #2ee09a;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

a:hover {
  color: #ffffff;
}

.btn-master, .btn-primary, .btn-secondary {
  padding: 0.5em 1em;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-primary {
  border: none;
  color: #15265c;
  background: #2ee09a;
  -webkit-transition: -webkit-box-shadow 300ms ease;
  transition: -webkit-box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease, -webkit-box-shadow 300ms ease;
}

.btn-primary:hover {
  background: #ef84f5;
  background: -webkit-gradient(linear, left top, right top, from(#ef84f5), to(#2ee19a));
  background: linear-gradient(90deg, #ef84f5 0%, #2ee19a 100%);
  color: #101d49;
  -webkit-box-shadow: 0px 1px 34px 0px rgba(239, 132, 245, 0.72);
          box-shadow: 0px 1px 34px 0px rgba(239, 132, 245, 0.72);
}

.btn-primary:focus {
  background: #ef84f5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #101d49;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn-primary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-secondary {
  background: none;
  border-width: 2px;
  border-color: #2ee09a;
  -webkit-transition: -webkit-box-shadow 300ms ease;
  transition: -webkit-box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease, -webkit-box-shadow 300ms ease;
}

.btn-secondary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-secondary:focus {
  background: #2ee09a;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2ee09a;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn-secondary:hover {
  background: #2ee09a;
  color: #101d49;
  -webkit-box-shadow: 0px 1px 34px 0px rgba(46, 224, 154, 0.72);
          box-shadow: 0px 1px 34px 0px rgba(46, 224, 154, 0.72);
  border-color: #2ee09a;
}

a {
  color: #2ee09a;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

a:hover {
  color: #ffffff;
}

.btn-master, .btn-primary, .btn-secondary {
  padding: 0.5em 1em;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-primary {
  border: none;
  color: #15265c;
  background: #2ee09a;
  -webkit-transition: -webkit-box-shadow 300ms ease;
  transition: -webkit-box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease, -webkit-box-shadow 300ms ease;
}

.btn-primary:hover {
  background: #ef84f5;
  background: -webkit-gradient(linear, left top, right top, from(#ef84f5), to(#2ee19a));
  background: linear-gradient(90deg, #ef84f5 0%, #2ee19a 100%);
  color: #101d49;
  -webkit-box-shadow: 0px 1px 34px 0px rgba(239, 132, 245, 0.72);
          box-shadow: 0px 1px 34px 0px rgba(239, 132, 245, 0.72);
}

.btn-primary:focus {
  background: #ef84f5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #101d49;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn-primary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-secondary {
  background: none;
  border-width: 2px;
  border-color: #2ee09a;
  -webkit-transition: -webkit-box-shadow 300ms ease;
  transition: -webkit-box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease, -webkit-box-shadow 300ms ease;
}

.btn-secondary:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-secondary:focus {
  background: #2ee09a;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #2ee09a;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn-secondary:hover {
  background: #2ee09a;
  color: #101d49;
  -webkit-box-shadow: 0px 1px 34px 0px rgba(46, 224, 154, 0.72);
          box-shadow: 0px 1px 34px 0px rgba(46, 224, 154, 0.72);
  border-color: #2ee09a;
}

nav {
  background: #ffffff1c;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-box-shadow: 0px 0px 76px -16px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 0px 76px -16px rgba(0, 0, 0, 0.247);
}

nav .collapse {
  text-align: center;
}

nav .collapse li {
  padding-left: 0;
}

nav .navbar-toggler {
  color: #ffffff;
}

nav .navbar-nav {
  text-align: center;
}

nav .navbar-nav .active {
  color: #2ee09a !important;
  font-weight: 600 !important;
}

nav .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 400;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

nav .navbar-nav .nav-link:hover {
  color: #2ee09a;
}

nav .navbar-nav li {
  padding-left: 42px;
  margin-top: auto;
  margin-bottom: auto;
}

html {
  min-height: 100%;
  margin: 0;
}

body {
  background: no-repeat;
  padding-top: 64px;
  font-family: 'Montserrat', sans-serif;
  background: #15265c;
  background: -webkit-gradient(linear, left bottom, left top, from(#15265c), to(#9f59a3));
  background: linear-gradient(360deg, #15265c 0%, #9f59a3 100%);
}

.project1 {
  margin: 3rem 0;
}

.project1 h1 {
  margin: 1rem 0 0 0;
  font-weight: 600;
  color: #ffffff;
}

.project1 h3 {
  color: #ffffff69;
  font-weight: 600;
  margin: 0 0 2rem 0;
}

.project1 a {
  text-decoration: none;
}

.project1 span .bi {
  padding-bottom: 3px;
}

.project1 p {
  margin: 3rem 0 0 0;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: justify;
}

.project1 img {
  border-radius: 15px;
}

footer {
  page-break-after: always;
  font-size: 12px;
  color: #ffffff69;
  text-align: center;
  padding: 2em 0 0 0;
}
/*# sourceMappingURL=project1.css.map */